version: '3.8'

services:
  backend:
    build: .
    container_name: technoversary-backend
    ports:
      - "5000:5000"
    env_file:
      - .env
    volumes:
      - ./app:/app/app
    restart: unless-stopped
